body{
    background-color: #efefef;
}

.main{
    background-color:white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-section{
    padding-top: 21px;
}
.media-object{
    width: 55px;
    height: 55px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu{
    margin-bottom: 20px;
}

.community-menu a{
    color: #999;
    font-size: 12px;
}

.comment{
    margin: 10px 0;
}

.btn-comment{
    float: right;
    margin-bottom: 10px;
}

.menu{
    color: #999;
    margin-top: 10px;
}

.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .active{
    color: #499ef3;
}

.menu .icon:hover{
    color: #499ef3;
}

.function{
    padding-top: 2px;
}

.media-sp{
    margin-top: 0;
}

.hr-bottom{
    margin-bottom: 0;
}

.question-title{
    margin-top: 30px;
}

.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 10px;
}

.sub-comments .btn{
    margin: 10px 0;
}